body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.table {
  font-size: 1rem;
  text-align: center;
}

.table-hover tbody tr:hover {
  background-color: #f8f9fa;
}

.btn {
  font-size: 0.85rem;
}

.container {
  margin-top: 20px;
}

.card {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.w-45 {
  width: 45%;
}


.table th {
  width: 30%;
  text-align: left;
  font-weight: bold;
}


